@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
}

.App header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.App header nav ul li {
  margin: 0 15px;
}

.App header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  margin: 10px auto;
  max-width: 1000px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
}
